/*
Color Palette (Pastel)
    purple: #C6ACC7
    red: #ECB4BF
    orange: #FBD7B7
    yellow: #FDF3B8
    blue: #C2E3EC
*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 22pt;
    margin: 0 0 6px 0;
}
h2 {
    font-family: 'Muli', sans-serif;
    font-size: 16pt;
    margin: 0 0 4px 0;
}
h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 11pt;
    margin: 0;
}
h4 {
    font-weight: normal;
    font-size: 11pt;
    margin: 0;
}
p {
    font-size: 11pt;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

#outer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

#sidebar {
    height: 100%;
    width: 400px;
    position: absolute;
    z-index: 314158;
    top: 0;
    left: -400px;
    background-color: #2C2C2C;
    box-shadow: 2px 0px 4px #444;
    overflow-x: hidden;
    transition: 0.5s;
}
#sidebar img {
    width: 100%;
}
#sidebar #bldgInfo, #sidebar .subInfo {
    padding: 5 5 0 5;
    text-align: center;
    color: #2C2C2C;
    background-color: #DDDDDD;
    opacity: 0.7;
}
#sidebar #bldgTitle, #sidebar .subTitle {
    padding: 20 0 20 0;
}
#sidebar #bldgDescription, #sidebar .subDescription {
    padding-left: 15px;
    padding-right: 15px;
    color: #D1D1D1;
}
#sidebar #bldgDescription a, #sidebar .subDescription a {
    color: #5ad0ff;
    text-decoration: none;
}
#sidebar #bldgDescription a:hover, #sidebar .subDescription a:hover {
    color: #5ad0ff;
    text-decoration: underline;
}

#toggleSidebar {
    position: absolute;
    top: 20;
    left: 0;
    z-index: 314159;
    transition: margin-left 0.5s;
}
#toggleSidebarButton {
    width: 26px;
    height: 42px;
    /*background-color: #F1F1F1;*/
    opacity: 0.7;
    box-shadow: 2px 1px 4px #444;
    border: 0;
    padding: 0;
}
#toggleSidebarButton:focus {
    outline: 0;
}
#toggleSidebarArrow {
    width: 0;
    height: 0;
    margin: 0 0 0 10px;
    border: solid 6px;
    border-color: transparent transparent transparent black;
}
#toggleSidebarTooltip {
    margin: 5px 0px 5px 10px;
    padding: 8px 8px 8px 8px;
    font-size: 8pt;
    height: 100%;
    float: right;
    visibility: hidden;
    background-color: #444;
    opacity: 0.75;
    color: #DDD;
}

#psLogo {
    position: absolute;
    top: 10;
    right: 80;
    z-index: 314159;

    height: 62px;
}
#psLogo img {
    height: 100%;
}

#legend {
    position: absolute;
    bottom: 40;
    right: 10;
    z-index: 314159;
    padding: 10 10 10 10;

    width: 270pt;
    background-color: #444;
    opacity: 0.75;
    border-radius: 10pt;

    color: #DDD;
    text-align: center;
    font-size: 11pt;
}
#legend b {
    text-align: center;
}
.legendEntry {
    height: 22pt;
    padding-left: 8px;
    padding-right: 4px;
}
.legendEntryContainer {
    height: 16pt;
    padding-top: 4px;
    padding-bottom: 4px;
}
.legendEntryText {
    height: 100%;
    float: left;
}
.legendEntryColor {
    width: 24pt;
    height: 100%;
    margin-left: 10pt;
    background-color: #fff;
    float: right;
}

#main {
    height: 100%;
    transition: margin-left 0.5s;
}
#map {
    width: 100%;
    height: 100%;
}

.bldgPopup {
    font-size: 11pt;
}

/* Overwrite leaflet styles */

/* Leaflet popups (building names) */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #444;
    opacity: 0.75;
    text-align: center;
    color: #DDD;
}

/* Zoom controls */
a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
    background-color: #444;
    opacity: 0.75;
    color: #DDD;
}
a.leaflet-control-zoom-in:hover, a.leaflet-control-zoom-out:hover {
    background-color: #888;
}

/* Attribution text (bottom right) */
div.leaflet-control-attribution.leaflet-control {
    background-color: #444;
    color: #DDD;
    opacity: 0.75;
}
div.leaflet-control-attribution.leaflet-control a {
    color: #5ad0ff;
}